.no-found{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.993);
   
}

.foto-pochoclo {
    width: 250px;
}

.titulo-error {
    color: white;
}

button {
    width: 90%%;
    padding: 10px;
    background-color: #EC1C1A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}


button:hover {
    background-color: #b91413;
}
