.no-found{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.993);
   
}

.foto-pochoclo {
    width: 250px;
}

.titulo-error {
    color: white;
}